  <ul>
    <li>
      <a [routerLink]="['Inicio']"><h4>Inicio</h4></a>
    </li>
    <li>
      <a [routerLink]="['Almacen']"><h4>Almacen</h4></a>
    </li>
    <li>
      <a [routerLink]="['Comandas']"><h4>Comandas</h4></a>
    </li>
    <li>
      <a [routerLink]="['Calculos']"><h4>Calculos</h4></a>
    </li>
    <li>
      <a [routerLink]="['Personal']"><h4>Personal</h4></a>
    </li>
    <li>
      <a [routerLink]="['Productos']"><h4>Productos</h4></a>
    </li>
    <li>
      <a [routerLink]="['Estadisticas']"><h4>Estadisticas</h4></a>
    </li>
  </ul>
